[Unit]
Description=Integration Manager

[Service]
Type=simple
User=user
Group=user
ExecStart=/bin/bash -l -c 'exec "$@"' _ /usr/local/src/dolphin/run.sh

[Install]
WantedBy=multi-user.target